.container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0.5rem;
  border-radius: 9999px;
}

.input {
  font-size: 0.875rem;
  width: 100%;
  padding: calc(0.5rem - 1px) 1rem;

  &:focus {
    outline: none;
  }
}

.button {
  border-radius: 9999px;
  background: #585292;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: calc(0.5rem - 1px) 1rem;

  &:hover {
    cursor: pointer;
  }
}
