.container {
  background: #fff;
  height: 21px;
  padding: 0.75rem 1.5rem;
  border-radius: 9999rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.menuContainer {
  position: relative;
}

.menuButton {
  background: #fff;
}

.menuCards {
  width: 7rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  position: absolute;
  right: 0;
  z-index: 999;

  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

  & > * {
    margin-top: 0.5rem;
  }
}

.menuItem {
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: start;
}

.red {
  color: #e07c7c;
}

.hover {
  background: #f3f4f6;
}
