.container {
  position: relative;
}

.button {
  width: 7rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 0.75rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 7rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  position: absolute;
  right: 0;
  z-index: 999;

  & > * {
    margin-top: 0.5rem;
  }
}

.menuButton {
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: start;
}

.active {
  background: #585292;
  color: #fff;
}

.hover {
  background: #f3f4f6;
}
